 .messagepane-card .text-box {
     border: none;
     background-color: rgb(230, 236, 240);
     border-radius: 25px;
     padding: 10px;
     display: block;
     height: 32px;
 }

 
.messagepane-card .error {
    color: black;
    text-align: center;
    font-weight: 700;
    margin-top: 5%;
    font-size: 16px;
    vertical-align: text-bottom;
}

.messagepane-card .error2 {
    color: rgb(87, 82, 82);
    text-align: center;
    font-weight: 400;
    margin-top: 1%;
    font-size: 13px;
    vertical-align: text-bottom;
}
 .messagepane-card .messages{
    padding-left: 10px;
    align-content: stretch;
}


 .messagepane-card .message-holder {
     position: relative;
     top: 10px;
 }

 .messagepane-card .text-and-button {
    position: absolute;
    bottom: 10px;
}