.sign-in>.row {
    height: 100%;
}

.sign-in .twitter_wallpaper{
    width: 100%;
    height: 100%;
}

.sign-in .twitter_footer {
    width: 100%;
    height: 100%;
}

.sign-in .username {
    width: 85%;
    margin-left: 45%;
}

.sign-in .password {
    width: 85%;
}

.sign-in .btn {
    border-radius: 2em;
    font-weight: 800;
}

.sign-in .userfield {
    height: 100%;
}

.sign-in .passwordfield {
    height: 50%;
}

.sign-in .loginbutton {
    height: 50%;
}

.sign-in .twitter_icon {
    width: 20%;
    margin-left: 80%;
    margin-top: 60%;
}

.sign-in .bodytext1 {
    width: 160%;
    margin-left: 80%;
    font-weight: 700;
    font-size: 28px;
}

.sign-in .bodytext2 {
    width: 160%;
    margin-left: 80%;
    font-weight: 600;
    font-size: 20px;
}

.sign-in .signup {
    margin-left: 80%;
    width: 160%;
}