html,
body,
#root,
.container-fluid{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* common styles */
.content-title {
  padding: 5px 18px;
  border-bottom: 1px solid #C0C0C0;
}

.nav-tabs{
  border-bottom: 1px solid #C0C0C0;
}

.tagline{
  margin-bottom: 0;
}

.navlinkItem>a{
  color: black;
  font-size:18px;
  font-weight: 600;
}

.navlinkItem>a:hover{
  color: #38A1F3;
  border: 1px solid #E1f5fe;
  background-color: #E1f5fe;
}